{% extends "base.html" %}
{% block title %}Update Profile{% endblock %}


{% block css %}
<style>
	.container {
		margin: auto;
		max-width: 800px;
		background-color: white;
		padding: 40px;
		border-radius: 8px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	}

	.container h2 {
		margin: 0;
		margin-bottom: 20px;
	}

	/* form {
		display: flex;
		flex-direction: column;
	}

	.form-group {
		margin-bottom: 20px;
		margin-right: 20px;
		position: relative;
	}

	.form-group label {
		margin-bottom: 5px;
		font-weight: bold;
		color: #333;
	}

	.form-control {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		transition: border-color 0.3s ease;
	}

	.form-control:focus {
		border-color: #1CB5E0;
		outline: none;
	} */

	.gender-options {
		margin: 10px 0;
	}

	.gender-options label {
		display: inline;
		margin-right: 10px;
	}

	.submit-btn {
		margin-top: 20px;
		padding: 10px;
		background-color: #1CB5E0;
		border: none;
		border-radius: 5px;
		color: white;
		font-size: 1.1em;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	.submit-btn:hover {
		background-color: #19a3c9;
	}
</style>
{% endblock %}

{% block navbar%}
<nav>
	<a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
	<a class="active" href="{{ url_for('viewprofile') }}"><i class="fas fa-user"></i>My Profile</a>
	<a href="{{ url_for('changepass') }}"><i class="fas fa-key"></i>Change Password</a>
	<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	<h2 class="text-center">Update Profile</h2>
	<form action="{{ url_for('updateprofile') }}" method="POST" id="updateForm">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" value={{ name }}>
		</div>
		<div class="form-group">
			<label for="weight">Weight (kg)</label>
			<input type="number" class="form-control" id="weight" name="weight" step="0.1" value={{ weight }}>
		</div>
		<div class="form-group">
			<label for="height">Height (cm)</label>
			<input type="number" class="form-control" id="height" name="height" step="0.1" value={{ height }}>
		</div>
		<div class="form-group">
			<label for="age">Age</label>
			<input type="number" class="form-control" id="age" name="age" value={{ age }}>
		</div>
		<div class="form-group gender-options">
			<label>Gender:</label>
			<label><input type="radio" id="male" name={{ gender }} value="male">Male</label>
			<label><input type="radio" id="female" name={{ gender }} value="female">Female</label>
		</div>
		<button type="submit" class="submit-btn">Submit</button>
	</form>
</div>
<script>
	if (document.getElementById("male").getAttribute("name") == "male") document.forms["updateForm"].male[0].checked=true;
	else document.forms["updateForm"].female[1].checked=true;
	
	document.getElementById('updateForm').addEventListener('submit', function(event) {
		let weight = Number.parseFloat(document.getElementById('weight').value);
		let height = Number.parseFloat(document.getElementById('height').value);
		let age = Number.parseInt(document.getElementById('age').value);
	
		if (weight <= 0 || height <= 0 || age <= 0) {
			alert('Please enter positve values for weight, height and age (higher than 0).');
			event.preventDefault(); // Prevent form submission
		}
	});
</script>
{% endblock %}

